html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

body {
  padding: 40px 20px;
  margin: 0 auto;
  /* background-color: rgb(235, 235, 235); */
  background-image: url('../imgs/AboutUs.jpg');
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(14, 4, 4);
}

.about-us {
  /* border: 2px solid ; */
  /* padding-top: 7px; */
  width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}

.about-us h1 {
  font-size: 34px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.about-us p {
  font-size: 19px;
  /* width: 50%; */
}

.read-more-btn {
  display: block;
  text-decoration: none;
  width: fit-content;
  padding: 5px;
  margin: 20px auto;
  margin-bottom: 50px;
  border-radius: 8px;
  border: 2px solid rgb(65, 225, 113);
  background-color: rgb(65, 225, 113);
  color: azure;
}

.read-more-btn:hover ,
.read-more-btn:focus {
  transition: all .5s;
  background-color: rgb(212, 32, 32);
  color: rgb(255, 255, 255);
  opacity: .7;
}

.img-container {
  flex-grow: 1;
  width: 40%;
}

img {
  width: 70%;
  border-radius: 8px;
  border: 1px solid white;
}

/*for social media icons*/
.fa {
  padding: 15px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: 0.5s;
  border-radius: 20px;
  height: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
